#img-logo
{
    width: 30%;
    height: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#btn
{
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}